<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="title-wrap">
                <h2 class="title">About Me</h2>
                <p class="lead">Learning the intricacies of UI development by creating applications that help people around me.
                    I can be contacted at <br/>
                    <b>cryptorollcall@gmail.com</b>
                </p>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->

    <div class="row text-center">
        <div class="col-sm-6">
            <h1>Donation</h1>
            <h6>Any donations are welcome</h6>
            <p>All the infrastructure for the website is hosted on the cloud and everything costs money. If you found this site helpful, please go ahead and donate whatever you feel appropriate..
                Your donations help me in keeping the site running.</p>
        </div><!-- end col -->
        <div class="col-sm-6">
            <h1>Feedback</h1>
            <h6>Feedback really helps</h6>
            <p>I am not a UI developer and what you see is on the site, is me learning and implementing. Any feedback about any issues you faced,
                any new features you may have in mind or any UI/UX related suggestions and critiques/brickbats are most welcome.</p>
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end container -->
