<hr class="spacer-5">
<hr class="spacer-20 no-border">
<!-- start footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="icon-boxes style1">
                    <div class="icon">
                        <i class="fa fa-search text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="alt-font text-light text-uppercase">Search</h6>
                        <p class="text-gray">Discover items that interest you</p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->
            <div class="col-sm-3">
                <div class="icon-boxes style1">
                    <div class="icon">
                        <i class="fa fa-refresh text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="alt-font text-light text-uppercase">Offer</h6>
                        <p class="text-gray">Offer items for exchange</p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->
            <div class="col-sm-3">
                <div class="icon-boxes style1">
                    <div class="icon">
                        <i class="fa fa-handshake-o text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="alt-font text-light text-uppercase">Exchange</h6>
                        <p class="text-gray">Exchange mutually agreed upon items</p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->
            <div class="col-sm-3">
                <div class="icon-boxes style1">
                    <div class="icon">
                        <i class="fa fa-thumbs-up text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="alt-font text-light text-uppercase">Done</h6>
                        <p class="text-gray">Save money, your trash may be someone's treasure</p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-8">
                <h5 class="title">BarterUi</h5>
                <p>Platform for facilitating exchange of goods, completely cashless, convenient and simple to use</p>
            </div><!-- end col -->
            <div class="col-sm-4">
                <h5 class="title">Information</h5>
                <ul class="list-inline">
                    <li><a [routerLink]="['/aboutus']">About us</a></li>
                    <li><a [routerLink]="['/faq']">FAQ</a></li>
                    <li><a [routerLink]="['/user', 'feedback']">Feedback</a></li>
                    <li><a [routerLink]="['/user', 'contactUs']">Contact us</a></li>
                </ul>
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row text-center">
            <div class="col-sm-12">
                <p class="text-sm">2017. Made with <i class="fa fa-heart text-danger"></i> by <a href="https://github.com/shankarganesh1234">guns_1234</a></p>
            </div><!-- end col -->
        </div>

    </div><!-- end container -->
</footer>