<div class="container">
    <h3>Referrals</h3>
</div>
<div class="container">
    <p class="lead">
        Referral links to useful sites/apps
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <p class="lead"><a href="http://share.robinhood.com/shankag5" target="_blank">Robinhood : Free stock and crypto trading</a></p>
        </div>
        <div class="col-md-5">
            <p class="lead" style="font-weight: bold"><a href="http://share.robinhood.com/shankag5" target="_blank">http://share.robinhood.com/shankag5</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <p class="lead"><a href="http://share.robinhood.com/shankag5" target="_blank">Binance : Low trading fee, stable and support for most currencies</a></p>
        </div>
        <div class="col-md-5">
            <p class="lead" style="font-weight: bold"><a href="https://www.binance.com/?ref=12268205" target="_blank">https://www.binance.com/?ref=12268205</a></p>
        </div>
    </div>

</div>




