<div class="container">
    <h5>Utilities</h5>
    <div class="row">
        <div class="col-md-5">
            <p class="lead">Convert between crypto currencies and USD</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
        </div>
         <div class="col-md-1"> <button type="submit" class="btn btn-primary" (click)="invokeCryptoService()">Refresh</button></div>
    </div>
    <br/>
</div>
<div class="container">
    <h6>Convert to USD</h6>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr id="convertToUsd">
            <td class="col-md-2">
                <input (ngModelChange)="calculateToUsd($event, cryptoStr)" [(ngModel)]="cryptoQuantity" type="text" class="form-control" id="filter" aria-describedby="filterHelp" placeholder="0"/>
            </td>
            <td class="col-md-2">
                <select maxlength="10" (ngModelChange)="calculateToUsd(cryptoQuantity, $event)" [(ngModel)]="cryptoStr" class="form-control" id="cryptoSelect">
                    <option *ngFor="let item of cryptoPrices" value= {{item.symbol}}>
                        {{item.symbol}} : {{item.name}}
                    </option>
                </select>
            </td>
            <td class="col-md-1"><i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i></td>
            <td class="col-md-2">
                <select class="form-control">
                    <option> USD : US Dollar </option>
                </select>
            </td>
            <td>
                <strong style="font-size: x-large">{{total}} $</strong></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h6>Convert from USD</h6>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr id="convertFromUsd">
            <td class="col-md-2">
                <input (ngModelChange)="calculateFromUsd($event, usdCryptoStr)" [(ngModel)]="usdQuantity" type="text" class="form-control" id="filter" aria-describedby="filterHelp" placeholder="0"/>
            </td>
            <td class="col-md-2">
                <select class="form-control">
                    <option> USD : US Dollar </option>
                </select>
            </td>
            <td class="col-md-1"><i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i></td>
            <td class="col-md-2">
                <select (ngModelChange)="calculateFromUsd(usdQuantity, $event)" [(ngModel)]="usdCryptoStr" class="form-control" id="cryptoSelect">
                    <option *ngFor="let item of cryptoPrices" value= {{item.symbol}}>
                        {{item.symbol}} : {{item.name}}
                    </option>
                </select>
            </td>
            <td>
                <strong style="font-size: x-large">{{cryptoTotal}}</strong></td>
        </tr>
        </tbody>
    </table>
</div>




