<div class="container">
    <h3>About us</h3>
</div>
<div class="container">
    <p class="lead">
        With the rise of crypto currency, the number of currency exchanges has risen exponentially.
        It would be convenient to get a snapshot view of the investment portfolio, without logging in to various exchanges,
        and calculating using excel sheets or calculators.

    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="../../assets/img/cryptorollcall_info_about.png" class="img-responsive">
        </div>
        <div class="col-md-8">
            <blockquote>
                <p class="lead">CryptoRollCall </p>
                <ul>
                    <li>Snapshot view of the entire crypto portfolio.</li>
                    <li>Net worth of the investments, using real time data, in numerous global currencies</li>
                    <li>Helpful visualizations for tracking assets</li>
                    <li>Track price fluctuations across an hour, a day and a week</li>
                    <li>Utilities to convert from/to crypto currency and FIAT</li>
                    <li>Upcoming features include automatic sync with exchanges, signup to support multiple users and portfolios, crypto performance charts and personalized news and announcements regarding currencies you own.</li>
                </ul>
            </blockquote>
        </div>
    </div>
</div>




