<div class="container">
    <h3>About us</h3>
</div>
<div class="container">
    <p class="lead">
        Simple, easy and intuitive platform for gaining insights and managing your crypto portfolio
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="../../assets/img/cryptorollcall_info_about.png" class="img-responsive">
        </div>
        <div class="col-md-7">
            <blockquote>
                <p class="lead"><strong>CryptoRollCall </strong></p>
                <ul>
                    <li><p>Snapshot view of the entire crypto portfolio.</p></li>
                    <li><p>Net worth of the investments, using real time data, in numerous global currencies</p></li>
                    <li><p>Helpful visualizations for tracking assets</p></li>
                    <li><p>Track price fluctuations across an hour, a day and a week</p></li>
                    <li><p>Utilities to convert from/to crypto currency and FIAT</p></li>
                    <li><strong>Upcoming features</strong>
                        <ul>
                            <li><p>Automatic sync with exchanges</p></li>
                            <li><p>User signup to support multiple profiles and portfolios</p></li>
                            <li><p>Crypto performance charts</p></li>
                            <li><p>Personalized news and announcements</p></li>
                    </ul>
                </ul>
            </blockquote>
        </div>
    </div>
</div>




