<div class="container">
    <h3>About us</h3>
</div>
<div class="container">
    <p>With the rise of crypto currency, the number of currency exchanges has risen exponentially.
        Crypto assets are distributed across a number of exchanges and wallets.
        Getting a quick overview of the entire portfolio is cumbersome.<br/>
    </p>
</div>
<div class="container">

    <blockquote>
    <p class="lead">CryptoRollCall </p>
        <ul>
            <li>Provides a snapshot view of the entire crypto portfolio.</li>
            <li>Upcoming features include automatic sync with exchanges, signup to support multiple users and portfolios, crypto performance charts and personalized news and announcements regarding currencies you own.</li>
            <li>Calculates net worth of the investments, using real time data, in numerous global currencies</li>
            <li>Shows price fluctuations across an hour, a day and a week</li>
            <li>Provides utilities to convert from/to crypto currency and FIAT</li>
        </ul>
    </blockquote>
</div>




