<br/>
<div class="container">
<div class="row">
    <div class="col-md-3">
        <input type="text" (ngModelChange)="filterResults($event)" [(ngModel)]="filterText" class="form-control" id="filter" aria-describedby="filterHelp" placeholder="Filter Results">
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <h5><small>Total Portfolio Value ~ </small>{{totalPortfolioStr}} $</h5>
    </div>

    <div class="col-md-1"> <button type="submit" class="btn btn-primary" (click)="getFavs()">Refresh</button></div>

</div>
    <br/>
</div>
<div class="container">

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Price (USD)</th>
            <th scope="col">Price (BTC)</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total (USD)</th>
            <th scope="col">Total (BTC)</th>
            <th scope="col">Change % (1h)</th>
            <th scope="col">Change % (24h)</th>
            <th scope="col">Change % (7d)</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <ng-container
                *ngFor="let item of favs; let j=index">
            <tr>
                <th scope="row">{{item.symbol}}</th>
                <td>{{item.name}}</td>
                <td class="numbers-font">{{item.price_usd}}</td>
                <td class="numbers-font">{{item.price_btc}}</td>
                <td><input type="text" maxlength="10" size="7" [(ngModel)]="item.quantity" (ngModelChange)="updateTotals($event, j)" value="{{item.quantity}}">
                </td>
                <td class="numbers-font">{{item.total_usd}}</td>
                <td class="numbers-font">{{item.total_btc}}</td>
                <td class="numbers-font" [ngClass] = "(item.percent_change_1h != null && item.percent_change_1h.includes('-') ? 'numbers-negative' : 'numbers-positive')">{{item.percent_change_1h}}</td>
                <td class="numbers-font" [ngClass] = "(item.percent_change_24h != null && item.percent_change_24h.includes('-') ? 'numbers-negative' : 'numbers-positive')">{{item.percent_change_24h}}</td>
                <td class="numbers-font" [ngClass] = "(item.percent_change_7d != null && item.percent_change_7d.includes('-') ? 'numbers-negative' : 'numbers-positive')">{{item.percent_change_7d}}</td>
                <td>
                    <a (click)="removeFavorite(item.symbol)" title="Remove from favorites">
                        <i class="fa fa-2x fa-minus-circle text-danger" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </ng-container>
        </tbody>

    </table>
</div>
