.auto-height-margin {
    height: auto;
    margin-bottom:30%
}

.vertical-alignment {
    vertical-align: top
}

.numbers-font {
    font-family: 'Arial';
    font-size: medium;
    font-weight: bold;
}

.numbers-negative {
    color: red;
}
.numbers-positive {
    color: green;
}


@media screen and (min-width: 10px) and (max-width: 320px) {
    .col_3, .col_5, .col_6, .col_7{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .col_3, .col_5, .col_6, .col_7, .col_8{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
    .col_5, .col_6, .col_0{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}

@media screen and (min-width: 721px) and (max-width: 1080px) {
     .col_6, .col_0{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}

@media screen and (min-width: 1081px) {
    .col_0{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}

.subscript-span {
    display: block;
    width: 20px;
}

.align-top {
    vertical-align: top;
}