.fa-white {
    color: white;
}
.alert-position {
    position:fixed;
    top: 80px;
    right: 30px;
    z-index: 999999;
}
.header-links {
    font-family: 'Roboto' sans-serif;
    font-size: medium
}

