<section id="top"></section>
<nav class="navbar navbar-default collapse navbar-collapse navbar-fixed-top" style="background-color: black">
    <div class="row">
        <div class="col-md-4">
            <a [routerLink]="'/'" title="Home">
                <small class="header-links text-white">Home</small>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a [routerLink]="'/about'" title="Home">
                <small class="header-links text-white">About</small>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a [routerLink]="'/favorites'" title="My Favorites">
                    <small class="header-links text-white">Favorites</small>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a [routerLink]="'/convert'" title="Converter">
                    <small class="header-links text-white">Currency Converter</small>
            </a>
        </div>
        <div class="col-md-2 col-md-offset-1">
                <img src="../../assets/img/CryptoRo.png" class="img-responsive"/>
        </div>

        <div class="col-md-1 col-md-offset-4">
            <a href="#footerId" class="page-scroll" title="Scroll to bottom">
                <i class="fa fa-2x fa-arrow-down fa-white" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <br/>
</nav>

<a href="#top" class="page-scroll" title="Scroll to bottom" style="position:fixed;bottom: 20px;right: 30px">
    <i class="fa fa-2x fa-arrow-up" aria-hidden="true"></i>
</a>


<div id="favAdded" class="alert alert-success fade alert-position">

</div>
<div id= "favRemoved" class="alert alert-danger fade alert-position">

</div>

<br/><br/><br/><br/><br/>

<div class="container">
    <div class="row text-center">
        <p class="lead">Crypto currency tracker | Real time data | Portfolio manager</p>
    </div>
    <div class="row text-center">
        <p>To get started, add your favorite crypto currency to your portfolio by clicking on the <i class="fa fa-2x fa-star-o"></i> icon
        </p>
    </div>
</div>
<hr/>
<router-outlet></router-outlet>

<crypto-footer></crypto-footer>
