<div class="container">
    <h3>How to</h3>
</div>
<div class="container">
    <p><a class="page-scroll" href="#cryptorollcallusage">How to use this website ?</a></p>
    <hr/>
    <p><a class="page-scroll" href="#buybtc">How to buy crypto currencies like Bitcoin (BTC), Ethereum (ETH), Litecoin (LTC) or BitcoinCash (BCH)?</a></p>
    <hr/>
    <p><a class="page-scroll" href="#buycrypto">How to buy crypto currencies like XRP, TRX, IOTA, XVG which are not available in coinbase ?</a></p>
</div>
<hr/>
<br/>
<div class="container">
    <div id="cryptorollcallusage" class="row">
        <p class="lead" style="text-decoration: underline"><strong>How to use CryptoRollCall ?</strong></p>
        <div class="col-md-4">
            <img src="../../assets/img/crc_q1/2.png" class="img-responsive img-rounded">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/crc_q1/3.png" class="img-responsive img-rounded">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/crc_q1/4.png" class="img-responsive img-rounded">
        </div>
    </div>

</div>
<br/>
<hr/>
<div class="container">
    <div id="buybtc" class="row">
        <p class="lead" style="text-decoration: underline"><strong>How to buy bitcoin, litecoin, ethereum or bitcoin cash ?</strong></p>
        <div class="col-md-4 col-md-offset-2">
            <img src="../../assets/img/crc_q2/2.png" class="img-responsive img-rounded">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/crc_q2/3.png" class="img-responsive img-rounded">
        </div>
    </div>

</div>
<br/>
<hr/>
<div class="container">
    <div id="buycrypto" class="row">
        <p class="lead"  style="text-decoration: underline"><strong>How to buy crypto currencies like XRP, TRX, IOTA, XVG which are not available in coinbase ?</strong></p>
        <div class="col-md-4">
            <img src="../../assets/img/crc_q3/2.png" class="img-responsive img-rounded">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/crc_q3/3.png" class="img-responsive img-rounded">
        </div>
        <div class="col-md-4">
            <img src="../../assets/img/crc_q3/4.png" class="img-responsive img-rounded">
        </div>
    </div>


</div>


