<div class="container">
    <h3>How to</h3>
</div>
<div class="container">
    <p><a class="page-scroll" href="#cryptorollcallusage">How to use this website ?</a></p>
    <hr/>
    <p><a class="page-scroll" href="#buybtc">How to buy crypto currencies like Bitcoin (BTC), Ethereum (ETH), Litecoin (LTC) or BitcoinCash (BCH)?</a></p>
    <hr/>
    <p><a class="page-scroll" href="#buycrypto">How to buy crypto currencies like XRP, TRX, IOTA, XVG which are not available in coinbase ?</a></p>
</div>
<hr/>
<br/>
<div class="container">
    <div id="cryptorollcallusage">
        <div class="row">
            <div class="col-sm-5" style="padding: 3px;">
                <img src="../../assets/img/cryptorollcall_q1.png" class="img-responsive img-rounded">
            </div>
            <div class="col-md-7">
                <blockquote>
                    <p class="lead" style="text-decoration: underline"><strong>How to use CryptoRollCall ?</strong></p>
                    <ul>
                        <li><p>Click on the  <i class="fa fa-plus"></i>  next to the crypto currency to add to portfolio</p></li>
                        <li><p>Navigate to your portfolio by clicking 'Portfolio'</p></li>
                        <li><p>Sort, filter based on any column and check out your net worth</p></li>
                        <li><p>Bookmark the page for quick navigation</p></li>
                    </ul>
                    <p>This site stores data in local storage. It is not recommended to use this in public/shared computers.</p>
                </blockquote>
            </div>
        </div>
    </div>
    <br/>
    <div id="buybtc" style="border-top: solid;">
        <br/>
        <div class="row">
            <div class="col-sm-5" style="padding: 3px;">
                <img src="../../assets/img/cryptorollcall_q2.png" class="img-responsive img-rounded">
            </div>
            <div class="col-md-7">
                <blockquote>
                    <p class="lead" style="text-decoration: underline"><strong>How to buy bitcoin, litecoin, ethereum or bitcoin cash ?</strong></p>
                    <ul>
                        <li><p>Create an account at Coinbase : <a href="https://www.cryptorollcall.com" target="_blank"></a></p></li>
                        <li><p>Add a payment method</p></li>
                        <li><p>Select a crypto currency and payment method</p></li>
                        <li><p>Click 'Buy Instantly'. Check balances in Accounts or Dashboard</p></li>
                    </ul>
                </blockquote>
            </div>
        </div>
    </div>
    <br/>
    <div id="buycrypto" style="border-top: solid;">
        <br/>
        <div class="row">
            <div class="col-sm-5" style="padding: 3px;">
                <img src="../../assets/img/cryptorollcall_q3.png" class="img-responsive img-rounded">
            </div>
            <div class="col-md-7">
                <blockquote>
                    <p style="text-decoration: underline">How to buy crypto currencies like XRP, TRX, IOTA, XVG which are not available in coinbase ?</p>
                    <p>To buy crypto currencies not available in coinbase, you will have to buy them through an exchange.<br/>
                        Most exchanges operate only in crypto currencies and do not accept credit/debit cards.<br/>
                        The way prescribed below involves buying ethereum in coinbase, transferring it to an exchange and then using the ethereum to buy other
                        cryptocurrencies.
                    </p>
                    <ul>
                        <li>Create an account in Coinbase. <a href="https://www.coinbase.com" target="_blank">https://www.coinbase.com</a></li>
                        <li>After creating an account, add a payment method. For quick setup, use credit/debit card. For larger amounts, set up debit from your bank account. This setup may take time, at times more than a week.</li>
                        <li>Once payment method is set, click on Buy/Sell and select Ethereum</li>
                        <li>Select your payment method</li>
                        <li>Enter the amount in USD to buy</li>
                        <li>Click on "Buy Ethereum Instantly" and confirm.</li>
                        <li>You should see your crypto currency balance under "Accounts" and "Dashboard"</li>

                        <li>Register on Crypto Currency Exchange : Binance <a href="https://www.binance.com/?ref=12268205">https://www.binance.com/?ref=12268205</a></li>
                        <li>Once registration is completed, login and click on "Funds -> Deposits and withdrawls"</li>
                        <li>Type "ETH" in the search box (ETH : Ethereum)</li>
                        <li>Click on "Deposit"</li>
                        <li>Copy the ETH Deposit Address. This is the Ethereum wallet address, where you will be transferring funds from Coinbase</li>

                        <li>Go back to Coinbase. Click on Accounts -> Ethereum Wallet</li>
                        <li>Click on send and enter the ETH Deposit Address. Enter the amount to be sent. Note the Network Fee. It varies depending on network congestion and load.</li>
                        <li>Click continue and confirm</li>

                        <li>Go back to Binance. Click on Funds -> History. You should see your transaction in processing state. It usually takes 10-15 mins but may take more, depending on network load.</li>
                        <li>Once completed, click on Funds -> Deposits Withdrawls</li>
                        <li>Click on "Hide small assets" checkbox. You should see your Ethereum Balance here.</li>

                        <li>Time to trade : Click on Exchange (Basic)</li>
                        <li>On the right side, click on ETH (Represents Ethereum Markets : Use ethereum to buy other crypto currencies)</li>
                        <li>As an example, to buy Ripple (XRP), type XRP in the search box. Click on XRP/ETH</li>
                        <li>XRP performance chart is loaded.</li>
                        <li>You can buy XRP using Limit/Market/Stop-Limit type of trades.</li>
                        <li>To buy limit, enter the amount of XRP coins to buy. (Binance fee is 0.050%)</li>
                        <li>Click buy XRP. If successful, it should show up in Funds -> Deposits Withdrawls</li>
                    </ul>
                    <p class="lead">Congratulations, you are now an owner of a crypto currency you believe in!</p>
                </blockquote>
            </div>
        </div>
        <br/>

    </div>
</div>



