
<div class="container" id="cryptoprices">
    <div class="row">
            <div class="col-md-5">
                <canvas #horbar1></canvas>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <canvas #horbar2></canvas>
            </div>
    </div>
    <hr/>
    <div class="row">
    <div class="col-md-3">
        <input type="text" (ngModelChange)="filterResults($event)" [(ngModel)]="filterText" class="form-control" id="filter" aria-describedby="filterHelp" placeholder="Filter Results">
    </div>
        <div class="col-md-3">
            <select [(ngModel)]="currStr" (ngModelChange)="currencyChanged($event)" class="form-control" id="cryptoSelect">
                <option *ngFor="let item of staticCurrencies.values" value= {{item.value}}>
                    {{item.value}} : {{item.displayName}}
                </option>
            </select>
        </div>
    <div class="col-md-5"></div>
    <div class="col-md-1"><a (click)="invokeCryptoService()"><i class="fa fa-2x fa-refresh"></i></a> </div>

</div>
    <br/>
</div>

<div class="container table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th class="col_1 col-md-1 align-top"></th>
            <th scope="col" class="col_2 col-md-1 align-top">Price <small>({{currStr}})</small><br/><a (click)="sortData('price_usd','up')"><i class="fa fa-arrow-down"></i></a> <a (click)="sortData('price_usd','down')"><i class="fa fa-arrow-up"></i></a></th>
            <th scope="col" class="col_3 col-md-1 align-top">Price <small>(BTC)</small><br/><a (click)="sortData('price_btc','up')"><i class="fa fa-arrow-down"></i></a> <a (click)="sortData('price_btc','down')"><i class="fa fa-arrow-up"></i></a></th>
            <th scope="col" class="col_4 col-md-3 align-top">Change %<br/> <small>1h <a (click)="sortData('percent_change_1h','up')"><i class="fa fa-arrow-down"></i></a> <a (click)="sortData('percent_change_1h','down')"><i class="fa fa-arrow-up"></i></a>/ 1d <a (click)="sortData('percent_change_24h','up')"><i class="fa fa-arrow-down"></i></a> <a (click)="sortData('percent_change_24h','down')"><i class="fa fa-arrow-up"></i></a>/ 7d <a (click)="sortData('percent_change_7d','up')"><i class="fa fa-arrow-down"></i></a> <a (click)="sortData('percent_change_7d','down')"><i class="fa fa-arrow-up"></i></a></small></th>
            <th scope="col" class="col_5 col-md-1 align-top">Market Cap<br/><a (click)="sortData('market_cap_usd','up')"><i class="fa fa-arrow-down"></i></a> <a (click)="sortData('market_cap_usd','down')"><i class="fa fa-arrow-up"></i></a></th>
            <th scope="col" class="col_6 col-md-2 align-top">Supply<br/><a (click)="sortData('available_supply','up')"><i class="fa fa-arrow-down"></i></a> <a (click)="sortData('available_supply','down')"><i class="fa fa-arrow-up"></i></a></th>
            <th scope="col" class="col_7 col-md-2"></th>
        </tr>
        </thead>
        <tbody>
        <ng-container
                *ngFor="let item of cryptoPrices;">
            <tr [ngClass]="item.isFavorite ? 'favorite-row' : ''">
                <th class="col_1">
                    <a [href]="'https://coinmarketcap.com/currencies/'+item.name" target="_blank">{{item.symbol}}</a>
                    <small class="subscript-span">{{item.name}}</small>
                </th>
                <td class="numbers-font col_2">{{item.price}}</td>
                <td class="numbers-font col_3">{{item.price_btc}}</td>
                <td class="numbers-font col_4"><span [ngClass] = "(item.percent_change_1h != null && item.percent_change_1h.includes('-') ? 'numbers-negative' : 'numbers-positive')">{{item.percent_change_1h}} <i [ngClass] = "(item.percent_change_1h != null && item.percent_change_1h.includes('-') ? 'fa fa-arrow-down' : 'fa fa-arrow-up')"></i></span> / <span [ngClass] = "(item.percent_change_24h != null && item.percent_change_24h.includes('-') ? 'numbers-negative' : 'numbers-positive')">{{item.percent_change_24h}} <i [ngClass] = "(item.percent_change_24h != null && item.percent_change_24h.includes('-') ? 'fa fa-arrow-down' : 'fa fa-arrow-up')"></i></span> / <span [ngClass] = "(item.percent_change_7d != null && item.percent_change_7d.includes('-') ? 'numbers-negative' : 'numbers-positive')">{{item.percent_change_7d}} <i [ngClass] = "(item.percent_change_7d != null && item.percent_change_7d.includes('-') ? 'fa fa-arrow-down' : 'fa fa-arrow-up')"></i></span></td>
                <td class="numbers-font col_5">{{item.market_cap_usd}} <small>USD</small></td>
                <td class="numbers-font col_6">{{item.available_supply}} <small>{{item.symbol}}</small></td>
                <td class="col_7 text-center">
                    <a (click)="addToFavorites(item)" title="Add/Remove from portfolio">
                        <i [ngClass]="item.isFavorite ? 'fa fa-2x fa-minus-circle' : 'fa fa-2x fa-plus'" aria-hidden="true"></i>
                        <br/>
                        <small *ngIf="item.isFavorite">Remove coin</small>
                        <small *ngIf="!item.isFavorite">Add coin</small>
                    </a>
                </td>
            </tr>
        </ng-container>
        </tbody>

    </table>
</div>



