<br/>
<div class="container">
<div class="row">
    <div class="col-md-3">
        <input type="text" (ngModelChange)="filterResults($event)" [(ngModel)]="filterText" class="form-control" id="filter" aria-describedby="filterHelp" placeholder="Filter Results">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-1 col-md-offset-5"> <button type="submit" class="btn btn-primary" (click)="invokeCryptoService()">Refresh</button></div>

</div>
    <br/>
</div>
<div class="container">

    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Price (USD)</th>
            <th scope="col">Price (BTC)</th>
        </tr>
        </thead>
        <tbody>
        <ng-container
                *ngFor="let item of cryptoPrices;">

            <tr>
                <th scope="row">{{item.symbol}}</th>
                <td>{{item.name}}</td>
                <td>{{item.price_usd}}</td>
                <td>{{item.price_btc}}</td>
            </tr>
        </ng-container>
        </tbody>

    </table>
</div>
