<hr class="spacer-5">
<hr class="spacer-20 no-border">
<!-- start footer -->
<section id="footerId">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="icon-boxes style1">
                    <div class="icon">
                        <i class="fa fa-envelope-o text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="text-uppercase"><strong>Contact Us</strong></h6>
                        <p class="text-gray">Feedback, suggestions for improvement or any questions/concerns<br/>
                        <a href="mailto:cryptorollcall@gmail.com">cryptorollcall@gmail.com</a>
                        </p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->
            <div class="col-sm-6">
                <div class="icon-boxes style1">
                    <div class="icon">
                        <i class="fa fa-gift text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="text-uppercase"><strong>Donate</strong></h6>
                        <p class="text-gray">If you find this useful, please donate<br/>
                            <strong>ETH : 0x2Ea0f9F90df69C1b6f21BFa23e486dBe1c873eCE</strong><br/>
                            <strong>BTC : 14VFDgByfBHafj5cbaByhYXsSMndTuaLzL</strong><br/>
                            Trade on <a href="https://www.binance.com">Binance</a> <br/>
                            Use the following referral link to register : <strong><a href="https://www.binance.com/?ref=12268205">https://www.binance.com/?ref=12268205</a></strong>
                        </p>
                    </div>

                </div><!-- icon-box -->
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-12">
                <h5 class="title">CryptoRollCall</h5>
                <p>Platform to track crypto currency prices, manage portfolio and get a quick snapshot view of crypto assets<br/>
                Consolidated view of all your crypto assets across various exchanges in one convenient and easy to use interface.</p>
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row text-center">
            <div class="col-sm-1 col-md-offset-4">
                <a href="https://www.facebook.com/cryptorollcall/" target="_blank"><i class="fa fa-2x fa-facebook-official"></i></a>
            </div>

            <div class="col-sm-1">
                <a href="https://www.linkedin.com/in/shankar-ganesh-809460b" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </div>

            <div class="col-sm-1">
                <a href="https://github.com/shankarganesh1234/CryptoRollCall" target="_blank"><i class="fa fa-2x fa-github-square"></i></a>
            </div>

            <div class="col-sm-1">
                <div class="fb-share-button" data-href="http://www.cryptorollcall.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.cryptorollcall.com%2F&amp;src=sdkpreparse">Share</a></div>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-sm-12">
                <p class="text-sm">2017. Made with <i class="fa fa-heart text-danger"></i> by guns_1234</p>
            </div><!-- end col -->
        </div>

    </div><!-- end container -->
</section>
