<hr class="spacer-5">
<hr class="spacer-20 no-border">
<!-- start footer -->
<section id="footerId">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="icon-boxes style1">
                    <a [routerLink]="'/contact'">
                    <div class="icon">
                        <i class="fa fa-envelope-o text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="alt-font text-light text-uppercase">Contact Us</h6>
                        <p class="text-gray">Feedback, suggestions for improvement or any questions/concerns</p>
                    </div>
                    </a>
                </div><!-- icon-box -->
            </div><!-- end col -->
            <div class="col-sm-6">
                <div class="icon-boxes style1">
                    <a [routerLink]="'/donate'">
                    <div class="icon">
                        <i class="fa fa-gift text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="alt-font text-light text-uppercase">Donate</h6>
                        <p class="text-gray">If you find this useful, please donate</p>
                    </div>
                    </a>
                </div><!-- icon-box -->
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-12">
                <h5 class="title">CryptoRollCall</h5>
                <p>Platform to track crypto currency prices, manage portfolio and get a quick snapshot view of crypto assets</p>
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row text-center">
            <div class="col-sm-12">
                <p class="text-sm">2017. Made with <i class="fa fa-heart text-danger"></i> by <a href="https://github.com/shankarganesh1234">guns_1234</a></p>
            </div><!-- end col -->
        </div>

    </div><!-- end container -->
</section>
