<hr class="spacer-5">
<hr class="spacer-20 no-border">
<!-- start footer -->
<section id="footerId">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="icon-boxes style1">
                    <div class="icon">
                        <i class="fa fa-envelope-o text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="text-uppercase"><strong>Contact Us</strong></h6>
                        <p class="text-gray">Feedback, suggestions for improvement, collaboration and feature requests, or any questions/concerns :
                        <a href="mailto:cryptorollcall@gmail.com">cryptorollcall@gmail.com</a>
                        </p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->

            <div class="col-sm-6">
                <div class="icon-boxes style1">
                    <div class="icon">
                        <i class="fa fa-money text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="text-uppercase"><strong>Trade on Binance</strong></h6>
                        <p class="text-gray">Use the following referral link :<br/>
                            <a href="https://www.binance.com/?ref=12268205" target="_blank">https://www.binance.com/?ref=12268205</a>
                        </p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->

        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="icon-boxes style1">
                    <div class="icon">
                        <i class="fa fa-hand-peace-o text-gray"></i>
                    </div><!-- end icon -->
                    <div class="box-content">
                        <h6 class="text-uppercase"><strong>Donate</strong></h6>
                        <p class="text-gray">
                            <small>Ripple (XRP) : rEb8TK3gBgk5auZkwc6sHnwrGVJH8DuaLh</small>
                            <br/>
                            <small>Ripple (XRP) Tag : 105680413</small>
                            <br/>
                            <small>Ethereum (ETH) : 0xc02b304dc77b45fdad2f056ae9ceaf2fc0ddc57a</small>
                        </p>
                        <p class="text-gray">

                        </p>
                    </div>
                </div><!-- icon-box -->
            </div><!-- end col -->
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h5 class="title">CryptoRollCall</h5>
                <p>Platform to track crypto currency prices, manage portfolio and get a quick snapshot view of crypto assets<br/>
                Consolidated view of all your crypto assets across various exchanges in one convenient and easy to use interface.</p>
            </div><!-- end col -->
        </div><!-- end row -->

        <div class="row text-center">
            <div class="col-sm-12">
                <a href="https://www.facebook.com/cryptorollcall/" target="_blank"><i class="fa fa-2x fa-facebook-official"></i></a>
            </div><!-- end col -->
        </div>

        <div class="row text-center">
            <div class="col-sm-12">
                <p class="text-sm">2017. Made with <i class="fa fa-heart text-danger"></i> by guns_1234</p>
            </div><!-- end col -->
        </div>

    </div><!-- end container -->
</section>
