<div class="container">
    <h5>CryptoRollCall Public APIs (Alpha)</h5>
    <a href="https://github.com/shankarganesh1234/CryptoRollCallService" target="_blank"><i class="fa fa-2x fa-github"></i></a> &nbsp; <a href="mailto:cryptorollcall@gmail.com"><i class="fa fa-2x fa-envelope-o"></i></a>

    <div class="row">
        <div class="col-md-12">
            <span>List of available APIs</span>
            <br/>
            <ul>
            <li><span>GET - <mark>/ticker/list</mark>
            </span>
                <footer>Retrieves the entire list of crypto currency tickers</footer>
            </li>

                <li>
                     <span>GET - <mark>/ticker/(id)</mark>
            </span>
                    <footer>Retrieves the crypto currency ticker for the specified id.</footer>
                </li>
                <li>
                     <span>GET - <mark>/currency/(currency)</mark>
            </span>
                    <footer>List of exchange rates based on the base currency.</footer>
                </li>
                <li>
                     <span>GET - <mark>/charts/histo/(period)/(id)</mark>
            </span>
                    <footer>Retrieves the chart data for the top performing coins in the previous hour, previous day and previous week.</footer>
                </li>
                <li>
                     <span>GET - <mark>/coindetail/(symbol)</mark>
            </span>
                    <footer>Retrieves all the details for the specified coin, including social links, source code repositories and available exchanges</footer>
                </li>
                <li>
                    <span>GET - <mark>/charts/home</mark>
            </span>
                    <footer>Retrieves the chart data for the top performing coins in the previous hour, previous day and previous week.</footer>
                </li>
                <li>
                    <span>GET - <mark>/coindetail/(symbol)</mark>
            </span>
                    <footer>Retrieves all the details for the specified coin, including social links, source code repositories and available exchanges</footer>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>For more detailed information, please visit
                <a class="detail-link" href="https://app.swaggerhub.com/apis/cryptorollcall/CryptoRollCall/1.0.0" target="_blank">https://app.swaggerhub.com/apis/cryptorollcall/CryptoRollCall/1.0.0</a>
            </p>
        </div>
    </div>
</div>






