<div class="container">
    <h4>CryptoRollCall Public APIs (Alpha)</h4>
<div class="row">
    <div class="col-md-12">
        <blockquote>
            <p class="lead">
                Public documentation and free client hosted on swagger hub
                <a class="detail-link" href="https://app.swaggerhub.com/apis/cryptorollcall/CryptoRollCall/1.0.0" target="_blank">https://app.swaggerhub.com/apis/cryptorollcall/CryptoRollCall/1.0.0</a>
                <br/>
                <a href="https://github.com/shankarganesh1234/CryptoRollCallService" target="_blank"><i class="fa fa-2x fa-github"></i></a>
                <a href="mailto:cryptorollcall@gmail.com"><i class="fa fa-2x fa-envelope-o"></i></a>
            </p>
        </blockquote>
    </div>
</div>
</div>




